
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Producto</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stilos2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos2.css' %}">
</head>
<body>
    <div class="container">
        
        <h3> Detalle de Compra </h3><br><h6>Fecha: {{ fecha }} </h6>
        
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th style="color:black">Código Boleta</th>
                    <th style="color:black">Código Producto</th>
                    <th style="color:black">Cantidad</th>
                    <th style="color:black">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in productos%}
                <tr>
                    <td style="color:black">{{ prod.id_boleta }}</td>
                    <td style="color:black">{{ prod.id_producto }}</td>
                    <td style="color:black">{{ prod.cantidad }}</td>
                    <td style="color:black">{{ prod.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
               
            <tr><td style="color:black"><h6>Total Compra: {{ total }}</h6></td>
            </tr>
        </table>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
